<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link href="css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="breadcrumb-mobamu">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.cshtml">Главная страница</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Форма Бронирования</li>
        </ol>
    </div>
    <div class="register-w3 py-5">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="tittle text-center text-bl font-weight-bold">Форма Бронирования</h3>
            <div class="comment-top mt-5">
                <div class="comment-bottom mobamuinfo_mail_grid_right">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label>Имя</label>
                                <input class="form-control" type="text" name="Name" placeholder="Имя" required="">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>Фамилия</label>
                                <input class="form-control" type="text" name="Name" placeholder="Фамилия" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" name="Email" placeholder="Email" required="">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>Номер Телефона</label>
                                <input class="form-control" type="text" name="number" placeholder="Номер Телефона"
                                    required="">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 form-group date-plu">
                                <label>Дата отъезда</label>
                                <input type="date" name="date" required="">
                            </div>
                            <div class="col-lg-6 form-group date-plu">
                                <label>Дата прибытия</label>
                                <input type="date" name="date" required="">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label>Выберите Свой Номер</label>
                                <select required="" class="form-control">
                                    <option value="">Тип номера</option>
                                    <option value="1">Одноместный номер</option>
                                    <option value="2">Двухместный номер </option>
                                    <option value="4">Номер Люкс</option>
                                </select>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>Нет Гостей</label>
                                <select required="" class="form-control">
                                    <option value="">Число гостей</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">3</option>
                                    <option value="4">4</option>
                                    <option value="4">5</option>
                                    <option value="4">6</option>
                                    <option value="4">7 Узнать подробней</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Написать Сообщение</label>
                            <textarea class="form-control" name="Message"
                                placeholder="Здесь вы можете указать ваши пожелание" required=""></textarea>
                        </div>
                        <button type="submit" class="btn submit mt-3">Закажите прямо Сейчас</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Контактная Информация</h3>
        <div class="contact-info">
            <div class="footer-style-w3ls mb-4">
                <h4 class="text-li mb-2">Телефон</h4>
                <p>+992 888859414</p>
            </div>
            <div class="footer-style-w3ls mb-4">
                <h4 class="text-li mb-2">Email </h4>
                <p><a href="Alif.tj">Алиф</a></p>
            </div>
            <div class="footer-style-w3ls mb-4">
                <h4 class="text-li mb-2">Адрес</h4>
                <p>ул. Фотех Ниёзи, 51, Душанбе</p>
            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">

        <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
            <div class="mobamuinfo_social_icons">
                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Социальная информация</h3>
                <p>Для получения дополнительной информации, пожалуйста, свяжитесь с нами .</p>
                <h4 class="sub-con-fo text-li my-4">Лови в социальных сетях</h4>
                <ul class="mobamuits_social_list list-unstyled">
                    <li class="w3_mobamu_facebook">
                        <a href="#">
                            <span class="fa fa-facebook-f"></span>
                        </a>
                    </li>
                    <li class="w3_mobamu_twitter">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li class="w3_mobamu_dribble">
                        <a href="#">
                            <span class="fa fa-dribbble"></span>
                        </a>
                    </li>
                    <li class="w3_mobamu_google">
                        <a href="#">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="py-5">
        <div class="container pt-xl-4">
            <div class="row footer-top">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="index.html" class="text-uppercase text-wh">Виллы</a>
                    </h2>
                    <div class="map-fo">
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 footer-grid_section_1its mt-md-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Связи</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a href="index.html">Домой</a>
                        </li>
                        <li class="mb-3">
                            <a href="about.html">О нас</a>
                        </li>
                        <li class="mb-3">
                            <a href="gallery.html">Галерея</a>
                        </li>
                        <li class="mb-3">
                            <a href="index.html">Услуги</a>
                        </li>
                        <li class="mb-3">
                            <a href="contact.html">Связаться с нами</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Контактная Информация</h3>
                    <div class="contact-info">
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Телефон</h4>
                            <p>+992 888859414</p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Email </h4>
                            <p><a href="Alif.tj">Алиф</a></p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Адрес</h4>
                            <p>ул. Фотех Ниёзи, 51, Душанбе</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <div class="mobamuinfo_social_icons">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Социальная информация</h3>
                        <p>Для получения дополнительной информации, пожалуйста, свяжитесь с нами .</p>
                        <h4 class="sub-con-fo text-li my-4">Лови в социальных сетях</h4>
                        <ul class="mobamuits_social_list list-unstyled">
                            <li class="w3_mobamu_facebook">
                                <a href="#">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_twitter">
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_dribble">
                                <a href="#">
                                    <span class="fa fa-dribbble"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_google">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#home" class="move-top text-center"></a>
</body>

</html>