<!DOCTYPE html>
<html>

<head>
    <meta name="~/viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Classic Hotel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/css/bootstrap.css" rel="~/stylesheet" type="~/text/css" media="all" />
    <link href="~/css/style.css" rel="~/stylesheet" type="text/css" media="all" />
    <link rel="~/stylesheet" href="~/css/jquery-ui.css" />
    <script src="~/js/jquery-1.11.1.min.js"></script>

    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
</head>

<body>
    <div class="banner page-head">
        <div class="container">
            <div class="header-nav">
                <div class="logo">
                    <h1><a href="~/index.cshtml"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Виллы
                            Алифа</a></h1>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-12">
                        <ul class="nav navbar-nav w3_agile_nav">
                            <li><a href="~/index.cshtml"><span>Главная страница</span></a></li>
                            <li class="active"><a href="~/gallery.cshtml"><span>Галерея</span></a></li>
                            <li><a href="about.cshtml"><span>О нас</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                        data-hover="Short Codes">Короткие Коды</span> <b class="caret"></b></a>
                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li><a href="~/icons.cshtml">Веб-иконки</a></li>
                                    <li><a href="~/typography.cshtml">Типография</a></li>
                                </ul>
                            </li>
                            <li><a href="~/contact.cshtml"><span>Контакты</span></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="#" class="f1"></a>
                        </li>
                        <li>
                            <a href="#" class="f2"></a>
                        </li>
                        <li>
                            <a href="#" class="f3"></a>
                        </li>
                        <li>
                            <a href="#" class="f4"></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!--about-->
    <div class="booking">
        <div class="container">
            <h2 class="tittle-one">Форма Бронирования</h2>
            <div class="reservation-form">
                <div class="col-md-3 reservation-left">
                    <h3>Виллы</h3>
                    <ul>
                        <li>
                            <a href="~/booking.cshtml"><img src="~/images/333.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a href="~/booking.cshtml"><img src="~/images/555.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a href="~/booking.cshtml"><img src="~/images/666.jpg" alt="" /></a>
                        </li>
                        <li>
                            <a href="~/booking.cshtml"><img src="~/images/777.jpg" alt="" /></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 reservation-right">
                    <form>
                        <h4>Колличество мест</h4>
                        <div class="dropdown-button">
                            <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"flat"}'>
                                <option value="1">01 </option>
                                <option value="2">02 </option>
                                <option value="3">03 </option>
                                <option value="4">04 </option>
                                <option value="5">05 </option>
                                <option value="6">06 </option>
                                <option value="7">07 </option>
                                <option value="8">08 </option>

                            </select>
                        </div>
                        <h4>Комнаты</h4>
                        <div class="dropdown-button">
                            <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"flat"}'>
                                <option value="1">Одноместный номер</option>
                                <option value="2">Двухместный номер с 1 кроватью</option>
                                <option value="3">Набор</option>
                                <option value="4">Специальный номер Делюкс</option>
                            </select>
                        </div>
                        <h4>Когда вы хотели бы приехать?</h4>
                        <div class="book-pag">
                            <div class="book-pag-frm">
                                <label>Выберите Дату :</label>
                                <input class="date" id="datepicker" type="text" value="Date" onfocus="this.value = '';"
                                    onblur="if (this.value == '') {this.value = '';}" required="">
                            </div>
                            <div class="book-pag-frm">
                                <label>Зарегистрироваться :</label>
                                <input class="date" id="datepicker1" type="text" value="Date" onfocus="this.value = '';"
                                    onblur="if (this.value == '') {this.value = '';}" required="">
                            </div>
                            <div class="book-pag-frm">
                                <label>Проверять:</label>
                                <input class="date" id="datepicker2" type="text" value="Date" onfocus="this.value = '';"
                                    onblur="if (this.value == '') {this.value = '';}" required="">
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <h4>Контактные данные</h4>
                        <input type="text" value="Name" onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'Name';}" required="">
                        <input type="text" value="Email" onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <input type="text" value="Telephone" onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
                        <textarea onfocus="this.value = '' ;"
                            onblur="if (this.value == '') {this.value = 'Message...';}"
                            required=""> Сообщение... </textarea>
                        <button class="btn1 btn-1 btn-1e">Зарегистрируйтесь сейчас</button>
                    </form>

                    <script src="~/js/jquery-ui.js"></script>
                    <script>
                        $(function () {
                            $("#datepicker,#datepicker1,#datepicker2").datepicker();
                        });
                    </script>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="col-md-3 ftr_navi ftr">
                <h3>Возврат</h3>
                <ul>
                    <li><a href="~/index.cshtml"><span>Главная страница</span></a></li>
                    <li class="active"><a href="~/gallery.cshtml"><span>Галерея</span></a></li>
                    <li><a href="~/about.cshtml"><span>О нас</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                data-hover="Short Codes">Короткие Коды</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu agile_short_dropdown">
                            <li><a href="~/icons.cshtml">Веб-иконки</a></li>
                            <li><a href="~/typography.cshtml">Типография</a></li>
                        </ul>
                    </li>
                    <li><a href="~/contact.cshtml"><span>Контакты</span></a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr_navi ftr">
                <h3>Обслуживание</h3>
                <ul>
                    <li><a href="#">Спальни с двуспальными кроватями</a></li>
                    <li><a href="#">Одноместные спальни</a></li>
                    <li><a href="#">Королевские удобства</a></li>
                    <li><a href="#">Смежные номера</a></li>
                </ul>
            </div>
            <div class="footer-grid-info">
                <p>ул. Фотех Ниёзи, 51, Душанбе
                    <span>пн-пт 09:00–18:00; сб 10:00–16:00.</span>
                </p>
                <p class="phone">Телефон : +992 888859414
                    <span>Email : <a href="alif.tj">Алиф@mail.ru</a></span>
                </p>
            </div>
            <div class="col-md-3 ftr-logo">
                <a href="~/index.cshtml"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Виллы
                    Алифа</a>
                <ul>
                    <li>
                        <a href="#" class="f1"> </a>
                    </li>
                    <li>
                        <a href="#" class="f2"> </a>
                    </li>
                    <li>
                        <a href="#" class="f3"> </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="copy-right">

    </div>
    <script src="~/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>

</html>