<!DOCTYPE html>
<html lang="ru">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Mug house Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="~/stylesheet" href="css/lightbox.css">
	<script type="~/text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script src="~/js/main.js"></script>

	<link href="~/css/font-awesome.css" rel="~/stylesheet">
	<link href="~/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
</head>

<body>
	<div class="banner-1">
		<div class="header-bottom">
			<div class="header">
				<div class="container">
					<div class="w3_agile_logo">
						<h1><a href="~/Index.cshtml"><span>Виллы</span>Алифа</a>
						</h1>
					</div>
					<div class="header-nav">
						<nav class="navbar navbar-default">
							<div class="navbar-header navbar-left">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
									data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Навигация</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
								<nav class="link-effect-12">
									<ul class="nav navbar-nav w3_agile_nav">
										<li><a href="~/index.cshtml"><span>Главная страница</span></a></li>
										<li class="active"><a href="gallery.cshtml"><span>Галерея</span></a></li>
										<li><a href="about.cshtml"><span>О нас</span></a></li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
													data-hover="Short Codes">Короткие Коды</span> <b
													class="caret"></b></a>
											<ul class="dropdown-menu agile_short_dropdown">
												<li><a href="~/icons.cshtml">Веб-иконки</a></li>
												<li><a href="~/typography.cshtml">Типография</a></li>
											</ul>
										</li>
										<li><a href="~/contact.cshtml"><span>Контакты</span></a></li>
									</ul>
								</nav>
							</div>
						</nav>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>

		</div>
	</div>
	<div class="gallery">
		<div class="container">
			<div class="w3ls-heading">
				<h2>Галерея</h2>
			</div>
			<div class="gallery-grids">
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-apollo">
							<a class="example-image-link" href="~/images/4.jpg" data-lightbox="example-set"
								data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
								<img src="~/images/4.jpg" alt="" />
								<figcaption>
									<p>Лента городской жизни </p>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-apollo">
							<a class="example-image-link" href="images/5.jpg" data-lightbox="example-set"
								data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
								<img src="~/images/5.jpg" alt="" />
								<figcaption>
									<p>Лента городской жизни</p>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-apollo">
							<a class="example-image-link" href="images/9.jpg" data-lightbox="example-set"
								data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
								<img src="~/images/9.jpg" alt="" />
								<figcaption>
									<p>Лента городской жизни</p>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-apollo">
							<a class="example-image-link" href="images/10.jpg" data-lightbox="example-set"
								data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
								<img src="~/images/10.jpg" alt="" />
								<figcaption>
									<p>Лента городской жизни</p>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-apollo">
							<a class="example-image-link" href="images/11.jpg" data-lightbox="example-set"
								data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
								<img src="~/images/11.jpg" alt="" />
								<figcaption>
									<p>Лента городской жизни</p>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-apollo">
							<a class="example-image-link" href="images/12.jpg" data-lightbox="example-set"
								data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
								<img src="~/images/12.jpg" alt="" />
								<figcaption>
									<p>Лента городской жизни</p>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-apollo">
							<a class="example-image-link" href="images/13.jpg" data-lightbox="example-set"
								data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
								<img src="~/images/13.jpg" alt="" />
								<figcaption>
									<p>Лента городской жизни</p>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-apollo">
							<a class="example-image-link" href="~/images/5.jpg" data-lightbox="example-set"
								data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
								<img src="~/images/5.jpg" alt="" />
								<figcaption>
									<p>Лента городской жизни</p>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-apollo">
							<a class="example-image-link" href="~/images/4.jpg" data-lightbox="example-set"
								data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
								<img src="~/images/4.jpg" alt="" />
								<figcaption>
									<p>Лента городской жизни</p>
								</figcaption>
							</a>
						</figure>
					</div>
				</div>
				<div class="clearfix"> </div>
				<script src="~/jsjs/lightbox-plus-jquery.min.js"> </script>
			</div>
		</div>
	</div>
	<div class="w3-agile-footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<div class="footer-grid-heading">
						<h4>Адрес</h4>
					</div>
					<div class="footer-grid-info">
						<p>ул. Фотех Ниёзи, 51, Душанбе
							<span>пн-пт 09:00–18:00; сб 10:00–16:00.</span>
						</p>
						<p class="phone">Телефон : +992 888859414
							<span>Email : <a href="alif.tj">Алиф@mail.ru</a></span>
						</p>
					</div>
				</div>
				<div class="col-md-3 footer-grid">
					<div class="footer-grid-heading">
						<h4>Навигация</h4>
					</div>
					<div class="footer-grid-info">
						<ul>
							<li><a href="~/about.cshtml">О нас</a></li>
							<li><a href="~/gallery.cshtml">Галерея</a></li>
							<li><a href="~/icons.cshtml">Значки</a></li>
							<li><a href="~/typography.cshtml">Типография</a></li>
							<li><a href="~/contact.cshtml">Контакты</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 footer-grid">
					<div class="footer-grid-heading">
						<h4>Последние сообщения</h4>
					</div>
					<div class="w3agile_footer_grid_list">
						<ul>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i> Парковка</li>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i> Фазеллус</li>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i> Грузовики</li>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i> Реальная жизнь печальна</li>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i> Детская коробка</li>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i> Класс </li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<script type="text/javascript" src="~/js/move-top.js"></script>
	<script type="text/javascript" src="~/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<script src="~/js/bootstrap.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<script src='~/js/jquery.typer.js'></script>
	<script>
		var win = $(window),
			foo = $('#typer');

		foo.typer(['Luxury Hotels', 'Hotels & Resorts', 'Luxury Resorts']);

		win.resize(function () {
			var fontSize = Math.max(Math.min(win.width() / (1 * 10), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY));

			foo.css({
				fontSize: fontSize * .8 + 'px'
			});
		}).resize();
	</script>
	<script src="~/js/easy-responsive-tabs.js"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true,   // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
</body>

</html>
